*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#8C2D9E;
    --color-secondary:#61256A;
    --white:#fbf5fe;

}

body{
    background-color: var(--white);
}

/*inicio banner*/
.banner {
      padding: 10px 20px;
      text-align: center;
    }
    .banner p {
      margin: 0;
      font-size: 2.2em;
      position: relative;
      top: 200PX;
      color: #fbf5fe;
    }
    .banner H1{
        color: #fbf5fe;
        position: relative;
        top: -50px;
    }
    

    @media (min-width: 1200px) and (max-width: 1400px) {
      .banner {
        width: 1300px;
        padding: 20px 20px 20px 20px;
        margin: 30px;
      }
      .imagen1{
        width: 800px;
        height: 400px;
        object-fit: cover;
      }
    }
/*fin banner/