*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#8C2D9E;
    --color-secondary:#61256A;
    --white:#fbf5fe;

}

body{
    background-color: var(--white);
}

.container{
    width: 90%;
    margin: 0 auto;
}
/*inicio navegacion*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    text-wrap: nowrap;
}
.header__figure{
    display: flex;
    align-items: center;
}
.logo__nike{
    color: var(--color-secondary);
    width: 80px;
    height: 80px;
}

.header__span{
    font-size: 2rem;
}

.nav__link{
    display: none;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
}

.nav__link::after{
    content: "";
}

.nav__figure{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.img__cart{
    width: 30px;
    height: 30px;
}

.nav__menu{
    width: 30px;
    height: 30px;
}


/*fin navegacion*/
@media(min-width:768px){

    /*inicio navegacion*/
    .nav__menu{
        display: none;
    }
    .nav__link{
        display: block;
    }
    /*fin navegacion*/

}



/*inicio banner*/
.banner {
    margin-top: 30px;
     max-width:90%;

      /* padding: 0 auto; */
      text-align: center;
      position: relative;
    }
    .banner p {
      margin: 0 auto;
      padding: 0 20px;
      font-size: 1.4em;
      position: absolute;
      top: 50px;
      
      text-align: center;
      color: #fbf5fe;
    }
    .banner H1{
        color: #fbf5fe;
        position: relative;
        top: -50px;
    }

    .imagen1 {
        width: 100%;
        border-radius: 15px;
        border-width: 4px;
        border-style: solid;
        border-color: #8C2D9E;
    }
    .banner a {
        color: #fbf5fe;
        background-color: #8C2D9E;
        text-decoration: none;
        padding: 7px 14px;
        border-radius: 4px;
        position: relative;
        top: 140px;
    }

    .banner a:hover{
        background-color: #61256A;
    }
  
/*footer*/

footer{
    padding: 1rem 0;
    background: #8C2D9E;
}
.footer__logo{
    margin-left: 40%;
}

.footer__logo:hover{
    transform: translateY(10px);
}
.footer__logo img{
    width: 50px;
    height: 50px;
    gap: 5rem;
}

.footer__details p{
    text-align: center;
    padding-top: 1rem;
    color: rgb(22, 22, 21);
}



/*footer fin*/



    

    @media (min-width: 768px) {
      /* .banner {
        width: 100%;
        padding: 20px 0px 20px 0px;
        margin: 20px 0px 20px 0px;
      }
      .imagen1{
        width: 1100px;
        height: 400px;
        object-fit: cover;
        
      }
      .banner p{
        font-size: 3em;
      }

      .banner a {
        color: #fbf5fe;
        background-color: #8C2D9E;
        text-decoration: none;
        padding: 7px 14px;
        border-radius: 4px;
        position: relative;
        top: -150px;
        left: 600px;
    }

    .banner a:hover{
        background-color: #61256A;
    } 
}    
/*fin banner/

    

