*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#8C2D9E;
    --color-secondary:#61256A;
    --white:#fbf5fe;

}

body{
    background-color: var(--white);
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    text-wrap: nowrap;
}
.header__figure{
    display: flex;
    align-items: center;
}
.logo__nike{
    color: var(--color-secondary);
    width: 80px;
    height: 80px;
}

.header__span{
    font-size: 2rem;
}

.nav__link{
    display: none;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
}

.nav__link::after{
    content: "";
}

.nav__figure{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.img__cart{
    width: 30px;
    height: 30px;
}

.nav__menu{
    width: 30px;
    height: 30px;
}

@media(min-width:768px){

    .nav__menu{
        display: none;
    }
    .nav__link{
        display: block;
    }

}

/*inicio banner*/
.banner {
      padding: 10px 20px;
      text-align: center;
    }
    .banner p {
      margin: 0;
      font-size: 2.2em;
      position: relative;
      top: 200PX;
      color: #fbf5fe;
    }
    .banner H1{
        color: #fbf5fe;
        position: relative;
        top: -50px;
    }

    .imagen1 {
        border-radius: 15px;
        border-width: 4px;
        border-style: solid;
        border-color: #8C2D9E;
    }
    .banner a {
        color: #fbf5fe;
        background-color: #8C2D9E;
        text-decoration: none;
        padding: 7px 14px;
        border-radius: 4px;
        position: relative;
        top: 250px;
    }

    .banner a:hover{
        background-color: #61256A;
    }
  
    

    @media (min-width: 768px) {
      .banner {
        width: 100%;
        padding: 20px 0px 20px 0px;
        margin: 20px 0px 20px 0px;
      }
      .imagen1{
        width: 1100px;
        height: 400px;
        object-fit: cover;
        
      }
      .banner p{
        font-size: 3em;
      }

      .banner a {
        color: #fbf5fe;
        background-color: #8C2D9E;
        text-decoration: none;
        padding: 7px 14px;
        border-radius: 4px;
        position: relative;
        top: -150px;
        left: 600px;
    }

    .banner a:hover{
        background-color: #61256A;
    }
  

      
/*fin banner/